/* Body */
body {
    font-family: monospace;
    background-color: #ffff99;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #ffcc33;
    color: #3b2b00;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 2em;
    color: #3b2b00;
}

/* List */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    width: 90%;
    padding: 10px;
    border: 1px solid #3b2b00;
    border-radius: 5px;
    font-size: 1em;
}

/* Textarea */
textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
textarea:focus {
   outline: none;
   }
[id="pseudo"] { 
    margin-top: 20px;
    margin-bottom: 3px;
    height: 15px;
}

/* Button */
button {
   display: block;
   margin: 0 auto;
   background: #ffcc33;
   padding: 9px 18px;
   border: none;
   color: #3b2b00;
   font-size: 20px;
   vertical-align: middle;
   cursor: pointer;
   font-family: monospace;
   }
button:hover {
   background: #b0870c;
   color: #ffffff;
   }
button:active {
   background:  #000066;
   }

[id="envoyer"] { margin-top: 20px;}
[id="màj"] { margin-top: 20px;}
[id="style"] { margin-top: 20px;}

/* Style pour le pseudo et la date */
small {
  color: grey;
  font-style: italic;
  font-size: 0.8em;
}

/* Dark mode */
.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

/* Header en mode sombre */
.dark-mode header {
  background-color: #333333;
  color: #e0e0e0;
}
.dark-mode h1 {
  background-color: #333333;
  color: #e0e0e0;
}

/* Boutons en mode sombre */
.dark-mode button {
  background-color: #333333;
  color: #e0e0e0;
  border: 1px solid #555;
}
.dark-mode button:hover {
  background-color: #555;  /* Couleur plus claire au survol */
  color: #fff;
}
.dark-mode button:active {
  background-color: #777;  /* Couleur plus claire au survol */
  color: #fff;
}

/* Textarea en mode sombre */
.dark-mode textarea {
  background-color: #1f1f1f;
  color: #e0e0e0;
  border: 1px solid #555;
}

/* Liste en mode sombre */
.dark-mode li {
  background-color: #1f1f1f;
  color: #e0e0e0;
  border: 1px solid #555;
}

